html {
	font-family: 'Roboto Slab', serif;
}
body {
	font-family: 'Roboto Slab', serif;
}
header{
  font-family: 'Roboto', sans-serif;
}
nav {
	text-align: center;
	font-size: 16px;
  background: none;
	width: 100%;
}
.dropdown-menu {
	text-align: center;
}
.navbar-collapse {
	text-align: center;
}
navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 15px;
}
@media (min-width: 769px) {
	.navbar-default {
		background: rgba(38,50,56,0.95);
		/*background: linear-gradient(to bottom, #00838F, rgba(0, 0, 0, 0.5));*/
		height: 4em;
	}
	.navbar-default .navbar-nav > li > a {
			color: white;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
		color: #546E7A;
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
	}
}


header .jumbotron {
	background: none;
	padding-bottom: 0px;
	padding-top: 0px;
  vertical-align:bottom;
  text-align: center;
}
.jumbotron .text-overlay {
	background-color: rgba(206,210,211 , .8);
	color: #fff;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}
.jumbotron h4 {
  font-weight: bold;
  font-style: italic;
	color: #00838F;
}
.jumbotron h1 {
	padding-top: 20%;

  font-weight: bold;
	color: #00838F;
  /*text-shadow: 2px 2px #FFC400;*/
}

.jumbotron .img-overlay {
	position: relative;
	width: inherit;
}
.jumbotron .img-responsive {
	height: auto;
	object-fit: cover;
	width: 100%;
}
.jumbotron img.blur {
	filter: blur(12x);
	webkit-filter: blur(2px);
}
